{% extends 'admin/_base.html' %}

{% block navbar %}
<div class="header navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="user-notice"></div>
    </div>
</div>
{% endblock navbar %}

{% block content %}

<div class="row image-wrapper">
    <div class="col-sm-12">
        <div id="image-canvas"></div>
        <div id="love" class="stamp">ON FLEEK!</div>
        <div id="hate" class="stamp">SHADDDDDE</div>

        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>

<div class="footer navbar navbar-fixed-bottom">
    <div class="container">
        <div class="text-center">
            <button class="quality-button btn btn-danger" data-quality="hate"><span class="fa fa-times"></span></button>
            <button class="quality-button btn btn-success" data-quality="love"><span class="fa fa-heart"></span></button>
        </div>
        <div class="text-center keyboard-help">
            <p>Press "H" to throw shade. Press "L" if the image is on fleek.</p>
        </div>
    </div>
</div>




<div id="user-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Who are you??!?</h1>
            </div>
            <div class="modal-body">
                {% for user in users %}
                <p><a class="select-user">{{ user.name }}</a></p>
                {% endfor %}
                <hr/>
                <form class="form-inline" id="alternate-user">
                    <label for="username">Somebody else?</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Your name" />
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
