{% extends 'admin/_base.html' %}

{% block content %}

<div class="row image-wrapper">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="image-canvas"></div>
        <hr/>
    </div>
    <div class="col-xs-1 col-sm-pull-9 text-center">
        <div class="button-wrapper">
            <button class="quality-button btn btn-danger" data-quality="hate"><span class="fa fa-times"></span></button>
        </div>
    </div>
    <div class="col-xs-1 col-sm-pull-1 text-center">
        <div class="button-wrapper">
            <button class="quality-button btn btn-success" data-quality="love"><span class="fa fa-heart"></span></button>
        </div>
    </div>
</div>


<div id="user-notice" class="text-center"></div>

<div id="user-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Who are you??!?</h1>
            </div>
            <div class="modal-body">
                {% for user in users %}
                <p><a class="select-user">{{ user.name }}</a></p>
                {% endfor %}
                <hr/>
                <form class="form-inline" id="alternate-user">
                    <label for="username">Somebody else?</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Your name" />
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

