{% extends '_base.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Art Provider</th>
            <th>Posts</th>
            <th>Likes</th>
            <th>Comments</th>
            <th>Shares</th>
            <th>People Reached</th>
        </tr>
    </thead>
    <tbody>
        {% for row in insights_summary %}
        <tr>
            <td>{% if row.provider_type %}{{ row.provider_type }}{% else %}No art{% endif %}</td>
            <td>{{ row.provider_type_count }}</td>
            <td>{{ row.likes_sum }}</td>
            <td>{{ row.comments_sum }}</td>
            <td>{{ row.shares_sum }}</td>
            <td>{{ row.people_reached_sum }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


<!-- 
        <tr>
            <td>{{ row.like_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.comments_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.shares_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.people_reached_sum }}</td>
        </tr>

-->