{% extends '_base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-2">
        <img src="https://38.media.tumblr.com/5325461788b3833bf77a3cdee86736a8/tumblr_mfrlfmNMzU1rkzusmo2_r1_250.gif" class="img-responsive"/>
    </div>
    <div class="col-sm-10">
        <h1><strong>Graeae</strong><br/>Visuals &amp; Story Performance</h1>
    </div>
</div>

<hr/>

<p>Data sources and time range information goes here</p>

<section id="image-performance">
    <h2>Does the presence of an image affect performance?</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <ul>Data:
        <li>FB People Reached x Provider Type</li>
        <li>FB People Reached x Image Type</li>
        <li>FB Link Clicks x Provider Type</li>
        <li>FB Link Clicks x Image Type</li>
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li>GA Pageview x Has Lead Art/Not</li>
        <li>GA Bounce x Has Lead Art/Not</li>
    </ul>

    <h4>Totals</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Image Provider</th>
                <th class="value">Posts</th>
                <th class="value">Likes</th>
                <th class="value">Comments</th>
                <th class="value">Shares</th>
                <th class="value">People Reached</th>
            </tr>
        </thead>
        <tbody>
            {% for row in insights_summary %}
            <tr>
                <td>{% if row.provider_type %}{{ row.provider_type }}{% else %}No art{% endif %}</td>
                <td class="value">{{ row.provider_type_count|format_commas(0) }}</td>
                <td class="value">{{ row.likes_sum|format_commas(0) }}</td>
                <td class="value">{{ row.comments_sum|format_commas(0) }}</td>
                <td class="value">{{ row.shares_sum|format_commas(0) }}</td>
                <td class="value">{{ row.people_reached_sum|format_commas(0) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Per Post</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Image Provider</th>
                <th class="value">Posts</th>
                <th class="value">Likes/post</th>
                <th class="value">Comments/post</th>
                <th class="value">Shares/post</th>
                <th class="value">People Reached/post</th>
            </tr>
        </thead>
        <tbody>
            {% for row in insights_summary %}
            <tr>
                <td>{% if row.provider_type %}{{ row.provider_type }}{% else %}No art{% endif %}</td>
                <td class="value">{{ row.provider_type_count|format_commas(0) }}</td>
                <td class="value">{{ row.normalized_likes|format_commas }}</td>
                <td class="value">{{ row.normalized_comments|format_commas }}</td>
                <td class="value">{{ row.normalized_shares|format_commas }}</td>
                <td class="value">{{ row.normalized_people_reached|format_commas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="muted">Note: All NPR Facebook posts include an image. A story may or may not contain a lead image at npr.org.</p>
</section>


<hr/>
<section id="lead-photo-performance">
    <h2>Does the quality of a lead photo affect performance?</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <ul>Data:
        <li>FB Likes, Shares, People Reached x "Good Photo Category"</li>
        <li>GA Pageviews x “Good Photo Category” x Provider Type</li>
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li>FB Comments x “Good Photo Category”</li>
        <li>GA Pageviews x "Good Photo Category"</li>
        <li>GA Bounce x "Good Photo Category"</li>
        <li>GA Pageviews x “Good Photo Category” x Provider Type</li>
        <li>GA Bounce x “Good Photo Category” x Provider Type</li>
    </ul>
    <p class="muted">Note: This excludes non-photos posts (illustrations, charts, etc)</p>
</section>

<hr/>
<section id="facebook-timing">
    <h2>Does the timing of a Facebook post affect story performance?</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <ul>Data:
        <li>FB Time Posted x FB Likes, Shares, People Reached, People Reached</li>
        <li>FB Day of Week posted x FB Likes, Shares, People Reached, People Reached</li>
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li>FB Time Posted x FB Comments</li>
        <li>FB Day of Week posted x FB Comments</li>
        <li>FB Time Posted x GA Pageviews</li>
        <li>FB Day of Week posted x GA Pageviews</li>
    </ul>
    <p class="muted">Note: Facebook algorithm determines when a post appears in users’ newsfeeds, so the date and time of a post does not presume the time it is shown or seen by users</p>
</section>

<hr/>
<section id="homepage-exposure">
    <h2>Does npr.org homepage exposure affect performance?</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <ul>Data:
        <li>GA Pageviews x Was on homepage/not</li>
        <li>GA Bounce x Was on homepage/not</li>
        <li>SE Time Posted x GA Pageviews</li>
        <li>SE Day of Week Posted x GA Pageviews</li>
        <li>?Duration of Homepage Placement x GA Pageviews</li>
        <li>?Homepage Starting Position x GA Pageviews</li>
        <li>?Homepage layout type x GA Pageviews</li>
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li>none</li>
    </ul>
    <p class="muted">Note:</p>
</section>

<hr/>
<section id="visuals-effort">
    <h2>Does the Visuals Team's effort affect performance?</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <h4>
        Stories Visuals worked on vs. homepage
    </h4>
    <table class="table table-striped table-hover"> 
        <thead> 
            <tr>
                <th>
                    On Homepage
                </th>
                <th class="value">
                    Count
                </th>
                <th class="value">
                    Total Duration
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in homepage_summary %}
            <tr>
                <td>{{ row.on_homepage }}</td>
                <td class="value">{{row.on_homepage_count}}</td>
                <td class="value">{{row.duration_sum}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4> 
        Effort by type of contribution
    </h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Contribution Type
                </th>
                <th class="value">
                    Count
                </th>
                <th class="value">
                    Total Duration
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in contribution_summary %}
            <tr>
                <td>{{ row.contribution }}</td>
                <td class="value">{{row.contribution_count}}</td>
                <td class="value">{{row.duration_sum}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>Data:
        <li>FB Likes x “Touched by Visuals/not”</li>
        <li>FB Shares x “Touched by Visuals/not”</li>
        <li>FB People Reached x “Touched by Visuals/not”</li>
        <li>FB Link Clicked x “Touched by Visuals/not”</li>
        <li>Posted on homepage/not x “Touched by Visuals/not”</li>        
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li>FB Comments x “Touched by Visuals/not”</li>
        <li>GA Pageviews x “Touched by Visuals/not” x Posted on Facebook/not</li>
        <li>GA Bounce x “Touched by Visuals/not” x Posted on Facebook/not</li>
        <li>GA Pageviews x Visuals Effort Type</li>
        <li>GA Pageviews x Visuals Effort Duration</li>
    </ul>
    <p class="muted">Note: Note: The comparisons focuses on photography because that’s the data we have right now, but same should be replicated for other non-photo imagery, graphs, apps, etc.</p>
</section>



<!--
TEMPLATE FOR SECTION

<section>
    <h2>Question</h2>
    <p><strong>Promoting and Driving Traffic</strong></p>
    <ul>Data:
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p><strong>Story Engagement</strong></p>
    <ul>Data:
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p class="muted">Note:</p>
</section>

-->



{% endblock %}


<!-- 
        <tr>
            <td>{{ row.like_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.comments_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.shares_sum }}</td>
        </tr>
        <tr>
            <td>{{ row.people_reached_sum }}</td>
        </tr>

-->
